

.review-container{
  height: auto;
}




.review-title{
  color: black;
  font-size: 18px;
}

.review-description{
  font-size: 24px;
}


.review-content{

  font-size: 17px;
}
.add-button{
  width: 100px;
}
.delete-button{
  width: 100px;
}
