<div class="review-container" [id]="reviewID">
  <mat-expansion-panel id="{{reviewID}}rev">
    <mat-expansion-panel-header class="review-header">
      <mat-panel-title class="review-title">
        {{reviewTitle}}
      </mat-panel-title>
      <mat-panel-description class="review-description">
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{reviewContent}}</p>
    <button class="add-button" (click)="klik(reviewID)">ADD</button>
    <button *ngIf="isDeleteNeeded" class="delete-button" (click)="usun(reviewID)">DELETE</button>
  </mat-expansion-panel>
</div>
