//$primary: #ac4a54;
//$accent: #1e3340;
//$accent2: #243755;
//$background: #4a5c6c;

$primary-yellow: #fbae17;
$primary-yellow1: #f7b000;
$primary-yellow2: #FCA417;
$primary-yellow3: #FEC556;

$primary-red: #CF264D;

$background-white: #ffffff;
$background-dark: #424242;
$background-dark2: #323232;


$gradient1: linear-gradient(90deg, rgba(252, 234, 187, 1) 0%, rgba(244, 187, 65, 1) 15%, rgba(251, 174, 23, 1) 43%, rgba(249, 198, 86, 1) 76%, rgba(248, 181, 0, 1) 100%);
