body, html {
  height: 100vh;
  width: 100vw;
  margin: 0 0;
  background: #f4f2f2;

}

#searchWrapper {

  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  opacity: 0.8;
  width: 1000px;
  height: 250px;
  text-align: center;

}

#title {
  position: relative;
  top: 20%;
  font-size: 40px;
  color: lightpink;
  letter-spacing: 2px;
  font-family: Roboto;
}

#searchInput {
  position: relative;
  top: 30%;
  height: 40px;
  width: 500px;
  padding: 10px;
  font-size: 22px;

}

#searchButton {
  position: relative;
  top: 30%;
  left: 1%;
  height: 40px;
  width: 100px;
}

#apiTEST {
  position: relative;
}


#hello {
  font-size: 48px;
}

.gridWrapper {
  position: relative;
  top: 10%;
  left: 15%;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 240px 240px 240px 240px 240px;
  grid-template-rows: 390px 390px 390px 390px 390px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.gridItem {

  background: crimson;
  padding: 5px;
  width: 100%;
  height: 100%;
}

.grid-item-img {

  width: 100%;
  height: 100%;
}
#recensionTitle{
  position: relative;

  font-size: 40px;
  color: lightpink;
  letter-spacing: 2px;
  font-family: Roboto;
}

.recension-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 75%;
  font-size: 20px;
  letter-spacing: 3px;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  &:hover{
    background: lightpink;
  }
}
#recensionWrapper{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  opacity: 0.8;
  width: 1000px;
  height: 350px;
  text-align: center;
}
#recensionInput{
  width: 400px;
  height: 200px;
  padding: 10px;
}
