<mat-expansion-panel style="width: 1000px;">
  <mat-expansion-panel-header>
    <mat-panel-title>

    </mat-panel-title>
    <mat-panel-description>
  User reviews
    </mat-panel-description>
  </mat-expansion-panel-header>
  <button (click)="sendArrayWithReviews()">Send reviews</button>
  <app-review *ngFor="let review of reviewsToDisplay; let i = index"
              [reviewContent]="review.reviewText"
              [reviewRating]="review.authorRating"
              [reviewTitle]="review.reviewTitle"
              [reviewID]="i"
              (reviewAdded)="reviewAdded($event)"
              (reviewDeleted)="reviewDeleted($event)"
              class="user-review">
  </app-review>


  <mat-paginator [length]="24"
                 [pageSize]="6"
                 (page)="klik($event)">
  </mat-paginator>
</mat-expansion-panel>
