@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');


* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0 0;
  font-family: Montserrat, sans-serif;

}

